

.cell{
    width: 40px;
    height: 40px;
    background-color:gray;
    text-align: center;
}

.notShown{

    display: none;


}

title{
font-size: 30px;

}
.smily{
    margin-left: 60px;
}

.timer {
    border: black;
    background-color: black;
    color: cornsilk;
    width: 85px;
    text-align: center;
    margin-left: 60px;
}

.Life button{
widows: 60px;

}


